* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/*** ---Common--- ***/
:root {
    --primary-color: #f7f5f0;
    --text-color: #b78a28;
}

.container {
    max-width: 1170px;
    padding: 20px;
}

/* General title */

/* flex of main-title And media__body--info */
.flex-gr {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.main-heading {
    font-weight: 600;
    font-size: 2rem;

}
.main-btn {
    /* visibility: hidden; */
    font-weight: 400;
    font-size: 1.6rem;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #b78a28;
}

/***** Header *****/
header {
    background-color: #f4f4f2;
}
.nav {
    display: flex;
    align-items: center;
}
/* Nav logo */
.nav__logo--box .logo img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}
.nav__logo--box {
    margin-right: 30px;
}
/* Nav button */
.nav__btn {
    position: relative;
    padding: 24px 16px;
    flex-grow: 1;
}
.nav__btn:hover {
    background-color: #e2e2df;
    color: var(--text-color);
}

.nav__btn--title {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

/* Nav content hidden */
.nav__btn--hidden {
    position: absolute;
    display: none;
    gap: 50px;
    background-color: #f7f5f0;
    left: 0;
    top: 66px;
}

.nav__btn:hover .nav__btn--hidden{
    display: block;
}

.hidden__box {
    display: flex;
    align-items: center;
}
.hidden__box--categories a {
    display: inline-block;
    padding: 12px 48px;
    white-space: nowrap;
}
/* Nav search */
.nav__form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    flex-grow: 1;
}

.nav__form--search {
    border: none;
    padding: 0 80px 0 20px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
}
.nav__form--btn {
    margin-left: -60px;
    z-index: 2;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 0 20px 20px 0;
    background: #ffffff;
}
.nav__form--btn:hover {
    background: #e2e2df;
}
.main-slide {
    z-index: -1;
}
.main__slide--img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

/***** Main *****/
.main-title {
    margin-bottom: 24px;
}
/* media */
.media {
    display: flex;
    align-items: center;
}
.media--thumb {
    display: block;
    min-width: 72px;
    min-height: 96px;
    margin-right: 16px;
    overflow: hidden;
}
.media--thumb img {
    width: 100%;
    object-fit: cover;
}
.media__body--title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2;

    word-break: break-word;
}
.media__body--desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-word;
}

.media__body--info {
    margin: 8px 0;
    
}
.author {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;
    color: #666;
}
.gender {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 3px 8px;
    color: var(--text-color);
    border: 1px solid #b78a28;
}